.MainPage{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    gap: 1em;
    
    align-items: center;
}
.MainPageHeader{
    padding-top: 2vw;
    padding-bottom: 1vw;
    text-align: center;
}
.MainPageButtons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 1em;
}
.MainPageCards{
    background-color: rgba(0, 0, 0, 0.3);
    width: min(100vw, 100vh);
    border-radius: 2em;

    padding: 1em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1em;
}