.ButtonContainer{
    position: relative; 
    background-color: rgb(59, 59, 59);
    border-radius: 1.5em;
    
    height: 6.5em;
    width: 11.5em;
}
.Button{
    display: flex;
    align-items: center; 
    justify-content: center;
    
    text-align: center;

    cursor: pointer;
    
    position: absolute;
    border-radius: 1em;
    margin: 0.75em;
    width: 10em;
    height: 5em;

    background-color: var(--buttonColor);
    color: white;

    animation-name: ButtonBackColor;
    animation-duration: 0.3s;
}
.Button:hover{
    background-color: var(--hoverButtonColor);
    margin: 0.5em;
    width: 10.5em;
    height: 5.5em;    

    animation-name: ButtonColor;
    animation-duration: 0.3s;
}

@keyframes ButtonColor {
    from {
        background-color: var(--buttonColor);
        margin: 0.75em;
        width: 10em;
        height: 5em;
    }
    to {
        background-color: var(--hoverButtonColor);
        margin: 0.5em;
        width: 10.5em;
        height: 5.5em;    
    }
}

@keyframes ButtonBackColor {
    from {
        background-color: var(--hoverButtonColor);
        margin: 0.5em;
        width: 10.5em;
        height: 5.5em;    
    }
    to {
        background-color: var(--buttonColor);
        margin: 0.75em;
        width: 10em;
        height: 5em;
    }
}
